.button-wrapper {
    width: fit-content;
    margin:  0 auto;
    button {
        background-color: var(--primary-color);
        @apply text-white text-lg lg:text-2xl px-5 p-2 shadow-sm rounded-xl flex gap-2 items-center;
        &:disabled {
            @apply text-gray-500 bg-gray-300;
        }
    }
}