.search-bar-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    width: 200px;
    max-width: 100%;
    height: 50px;
    background-color: transparent;
    // border-radius: 20px;
    overflow: hidden;
    .search-bar {
        width: 100%;
        .search-bar-bg {
            background-color: #fff;
            position: absolute;
            color: black;
            border-radius: 12px ;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }
        .search-bar-input-wrapper {
            margin: 0;
            position: absolute;
            top: 0;
        }
        .search-bar-icon-wrapper {
            padding: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 7px;
            right: 8px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: transparent;
        }

    }
}