.events-wrapper {
    @apply container px-2 m-auto flex flex-col gap-5 my-5;
    .events-arrows {
        @apply flex gap-2 items-center;
    }
    .events {
        @apply flex gap-5;
        .event-card-wrapper {
            @apply flex items-center;
            .indexing {
                @apply h-full flex justify-end items-center;
                min-width: 6rem;
                color: var(--primary-color);
                font-size: 8rem;
                font-family: 'Playfair Display', serif;
            }
            .event-card {
                width: 300px;
            }
        }
    }
}