.main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background-color: transparent;
    .navbar-container {
        @apply container m-auto px-10 py-5  flex justify-between ;
        ul.menu {
            @apply flex gap-5 md:gap-10 list-none text-white items-center;
        }

    }
}