.event-card {
    width: 300px;
    @apply flex flex-col justify-between gap-2 rounded-xl pb-2;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    .event-card-content {
        color: var(--black);
        @apply flex flex-col gap-2 items-center ;
        .event-card-img {
            width: 300px;
            height: 200px;
            img {
                @apply rounded-xl h-full;
                object-fit: cover;
                object-position: top center;
            }
        }
        .event-card-title-desc {
            @apply flex flex-col gap-2 p-2 items-center;
            .event-card-title {
                @apply font-bold text-lg;
            }
    
            .event-card-desc {
                @apply text-sm;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* Show only 3 lines */
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

    }
}