.event-card {
    @apply flex flex-col justify-end gap-5 rounded-xl p-2;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    .event-card-content {
        color: var(--black);
        @apply flex flex-col gap-2 items-center;
        .event-card-img {
            width: 300px;
            height: 300px;
            img {
                @apply rounded-xl;
                object-fit: contain;
                object-position: top center;
            }
        }
        .event-card-title {
            @apply font-bold text-lg;
        }
        .event-card-desc {
            @apply text-sm;
        }
    }
}