.navbar-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    width: 300px;
    max-width: 100%;
    height: 300px;
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
    .navbar {
        width: 100%;
        .navbar-bg {
            background-color: #fff;
            position: absolute;
            color: black;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }
        .list {
            list-style: none;
            padding: 25px;
            margin: 0;
            position: absolute;
            top: 20px;
        }
        .toggle-container {
            padding: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 13px;
            right: 8px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: transparent;
        }

    }
}